/__pycache__
/analysis_results/London1_slTbgnXsBik
*.mp4
/modules/sidewalk/SGDepth/models/networks/__pycache__
/modules/sidewalk/SGDepth/models/__pycache__
/modules/sidewalk/SGDepth
/modules/sidewalk/elements/__pycache__
/analysis_results/Ulm1_Qh1n6VVKgn0
