filterpy==1.4.5
lap==0.5.12
matplotlib==3.10.6
numpy==2.3.3
opencv_contrib_python==4.10.0.84
opencv_python==4.11.0.86
paddlex==3.2.1
pandas==2.3.2
Pillow==11.3.0
scipy==1.16.2
seaborn==0.13.2
Shapely==2.1.1
scikit-image==0.25.2
supervision==0.26.1
torch==2.8.0
torchvision==0.23.0
ultralytics==8.3.200
